<!DOCTYPE html>
<html>
  <head>
    <title>Multicare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
  </head>

  <body>
    <nav>
      <%= link_to 'Patient', patients_path %>
      <%= link_to 'Department', departments_path %>
      <%= link_to 'Staff', staffs_path %>
      <%= link_to 'Sample Types', matter_types_path %>
      <%= link_to 'Episode of Care', episodes_path %>
      <%= link_to 'Test Types', test_procedures_path %>
    </nav>
    <%= yield %>
  </body>
</html>
